@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.header-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 300;
    color: rgb(0, 30, 255);
    border: "3px solid green";


}